body {
  @apply font-copy text-base;
}

h1,
.h1 {
  @apply text-secondary font-headers font-bold uppercase leading-tight mb-6;
  font-size: 2rem;
  font-size: clamp(1.75rem, 5vw, 2rem);
}

.h1-sm {
  @apply text-center uppercase font-extrabold mb-10;
}

h2,
.h2 {
  font-size: 1.5rem;
  font-size: clamp(1.25rem, 5vw, 1.5rem);
  line-height: 1.25;
  @apply text-secondary font-headers font-bold mb-3;
}

h3,
.h3 {
  font-size: 1.25rem;
  font-size: clamp(1.125rem, 5vw, 1.25rem);
  line-height: 1;
  @apply font-bold mb-3 text-secondary;
}

p {
  @apply mb-4 font-normal leading-relaxed;
}

p > img {
  margin: 2.1875rem auto;
}

address {
  @apply not-italic;
}

a {
  @apply text-links underline;
}

a:hover {
  @apply no-underline;
}

time {
  @apply text-gray text-sm uppercase;
}

::marker {
  @apply text-primary text-lg;
}
