---
layout: default
---

<main class="max-w-full">
  <h1 class="section-title">{{title}}</h1>
  {% if galleryImages[0].image %}
  <div class="swiper-container video-swiper">
    <div class="swiper-wrapper">
      {% for image in galleryImages %}
      <div class="swiper-slide" data-slide="1">
        <div class="swiper-slide__media">
          <img src="{{image.image}}" alt="{{image.altText}}" srcset="" />
        </div>
        <div class="swiper-slide__text">{{ content | safe }}</div>
      </div>
      {% endfor %}
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
  {% endif %}
</main>
