---
layout: default
---

<main class="max-w-full p-0 mb-0">
  <div class="home-content">
    <div class="home-left bg-magenta text-white p-8 md:p-16 col-span-2 lg:col-span-1 text-lg">
      {{ content | safe }}
      <p>
        More than 300 million tons of domestic freight moves into, out of, and within the NYMTC planning area by truck, rail, water, air, and pipeline annually.
      </p>
      <a href="/comment-on-the-plan" class="button mx-auto mt-7 text-base text">Comment on the Plan</a>
    </div>
    <div class="home-right p-8 md:p-16 col-span-2 lg:col-span-1">
      <div class="text-center mb-4 lg:mb-8">
        <h2>NYMTC Planning Area</h2>
        <a href="https://vizmaps.wspis.com/nymtc-rtp-2050/" target="_blank" rel="noopener" class="button mx-auto">Explore interactive map <span class="sr-only">(Open in a new window)</span></a>
      </div>
      <img
        class="mx-auto"
        src="/images/interactive_map.svg"
        alt="Map of project locations"
        srcset=""
      />
    </div>
  </div>
</main>
