.sub-title {
  font-size: 1.25rem;
  font-size: clamp(0.875rem, 5vw, 1.25rem);
  @apply mb-3;
}

.card {
  @apply relative bg-barely-blue hover:bg-white overflow-hidden;
}
.card__content {
  @apply grid grid-cols-1 grid-rows-card text-white font-bold text-lg py-4 px-6 min-h-card transition duration-500 ease-in-out text-left;
}
.card__overlay,
.header__overlay {
  @apply absolute top-0 bottom-0 right-0 left-0 bg-cover z-0;
}

.card__overlay {
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.35s ease-in-out;
}
.card:hover .card__overlay {
  background-size: 160%;
}

@media (prefers-reduced-motion) {
  .card__overlay {
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.35s ease-in-out;
  }
  .card:hover .card__overlay {
    background-size: 150%;
  }
}
.card__description {
  @apply absolute transition-top duration-500 ease-in-out top-full bottom-0 right-0 left-0 overflow-y-auto bg-blue text-white;
}
.card__description[aria-hidden="false"] {
  @apply top-0;
}

.flip-card-grid {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 my-7;
}

@screen md {
  .flip-card-grid {
    gap: 1rem;
    grid-template: "flip-card-1 flip-card-2 flip-card-3" "flip-card-4 flip-card-5 flip-card-6" / 1fr 1fr 1fr;
  }
}

.details-card:nth-child(1) {
  grid-area: flip-card-1;
}
.details-card:nth-child(2) {
  grid-area: flip-card-2;
}
.details-card:nth-child(3) {
  grid-area: flip-card-3;
}
.details-card:nth-child(4) {
  grid-area: flip-card-4;
}
.details-card:nth-child(5) {
  grid-area: flip-card-5;
}
.details-card:nth-child(6) {
  grid-area: flip-card-6;
}

.details-card {
  position: relative;
  perspective: 40rem;
  border: 0 !important;
  border-radius: 0 !important;
  padding: 0 !important;
  min-height: 19rem;
}
.details-card__container {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.details-card .details-card__container.flipped {
  transform: rotateY(180deg);
  transition: transform 0.7s;
}
.details-card__summary {
  display: none;
}
.details-card__summary,
.details-card__content {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  min-width: 100%;
  border-radius: 6px;
  padding: 12px 20px 20px;
  z-index: 1;
}

.details-card__content {
  @apply p-8 flex items-center justify-items-center border-barely-blue border-4;
}
.details-card__content p {
  @apply font-bold;
}
.details-card__button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  outline: none;
  border: 0;
}

@supports (display: grid) {
  .details-card__summary {
    @apply flex items-center justify-items-center bg-orange;
  }
  .details-card__summary p {
    font-size: 1.5rem;
    font-size: clamp(0.875rem, 5vw, 1.5rem);
    @apply font-bold italic text-white mb-0 leading-tight;
  }
  .details-card__content {
    transform: rotateY(180deg);
  }
}
