input[type='text'],
input[type='textarea'],
input[type='date'],
select {
  @apply mt-1 block w-full rounded-md border-light shadow-sm focus:ring-2 focus:ring-primary;
}

.error {
  @apply text-error font-bold bg-light;
}
.error.active {
  @apply ml-2 mt-6 bg-light p-2;
}

fieldset {
  @apply mb-5;
}

legend {
  @apply w-full text-2xl font-bold my-4 text-secondary pb-3 border-b-2 border-primary;
}

.custom-group {
  @apply relative h-full;

  .custom-radio {
    @apply opacity-0 w-full h-full absolute cursor-pointer;
  }
  .custom-label {
    @apply bg-white block h-full p-2 transition-colors duration-300 z-10 cursor-pointer font-medium text-sm;
  }
  .custom-label-button {
    @apply flex items-center justify-center border-2 border-primary h-full p-3 pr-6 transition-colors duration-300 z-10 cursor-pointer font-bold text-xl;
  }
  .custom-radio:hover + .custom-label-button,
  .custom-radio:focus + .custom-label-button {
    @apply bg-primary-light border-primary-dark;
  }
  .custom-radio:checked + .custom-label-button {
    @apply bg-primary-light;
  }
  .custom-radio:checked:focus + .custom-label-button {
    @apply bg-primary;
  }
  .custom-radio:hover + .custom-label {
    @apply bg-light bg-opacity-50;
  }
  .custom-radio:checked + .custom-label,
  .success-level:nth-child(2) .custom-radio:focus + .custom-label {
    background-color: #0be52c4a;
  }
}
.success-level .custom-radio:focus + .custom-label {
  @apply bg-light outline-black;
}

.success-level:nth-child(2) .custom-radio:checked + .custom-label,
.success-level:nth-child(2) .custom-radio:focus + .custom-label,
.bg-level1 {
  background-color: #e50b0b4a;
}
.success-level:nth-child(3) .custom-radio:checked + .custom-label,
.success-level:nth-child(3) .custom-radio:focus + .custom-label,
.bg-level2 {
  background-color: #e5d60b4a;
}
.success-level:nth-child(4) .custom-radio:checked + .custom-label,
.success-level:nth-child(4) .custom-radio:focus + .custom-label,
.bg-level3 {
  background-color: #0be52c4a;
}
