/* Styles for dropdown nav */
nav {
  position: relative;
  perspective: 1000px;
  z-index: 100;
}

.dropdown-menu {
  @apply hidden shadow-md bg-white absolute top-full right-0 w-full z-10;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  perspective: 1000px;
  z-index: -1;
}

.dropdown-menu__item {
  @apply font-headers transition duration-300 ease-in-out bg-white hover:bg-blue text-dark-gray no-underline hover:text-white;
  position: relative;
}

.menu-toggle svg {
  transition: all 0.35s;
}
.menu-toggle[aria-expanded='true'] svg {
  transform: rotate(-180deg);
}

.arrow-right {
  position: absolute;
  left: 1.125rem;
  transition: left 0.25s ease;
}
.home__nav-button:hover .arrow-right {
  left: 86%;
}

/* Styles for Fullscreen nav */

.nav-container {
  @apply fixed top-0 bottom-0 left-0 right-0 bg-ebony h-screen w-screen z-40 flex justify-center items-center;
}

.main-nav {
  @apply w-screen h-screen md:h-auto pl-10 pr-6 pt-14;
}
.main-nav__menu {
  @apply flex flex-wrap justify-center max-w-6xl mx-auto h-90p overflow-auto;
}
.main-nav__item {
  @apply font-bold text-xl text-white w-full mb-6 md:w-6/12 lg:w-3/12;
}
.sub-nav {
  @apply m-0 p-0;
}
.sub-nav__item {
  @apply m-0 p-0;
}
.sub-nav__link {
  @apply text-base block text-white hover:text-barely-blue hover:no-underline py-2 pr-2 mr-7 font-normal;
}

.menu-toggle-fullscreen {
  @apply fixed top-0 right-0 flex justify-center items-center bg-barely-blue h-20 w-16 md:w-20 z-50;
}

/* Style for Horizontal Nav */
.nav-container-horiz {
  @apply -mx-5 py-6 md:py-12 ;
  flex: 1 0 100%;

  .main-nav,
  .sec-nav {
    @apply md:flex justify-center;
  }

  .main-nav__item {
    @apply px-7 py-4 md:py-0;
  }
  .main-nav__item:not(:last-child) {
    @apply border-b;
  }
  .main-nav__link {
    @apply block hover:text-white font-bold text-sm no-underline hover:underline uppercase;
  }

  .main-nav__link[aria-current] {
    @apply text-white;
  }

  .main-nav__item.button,
  .main-nav__item.no-border {
    @apply border-0;
  }
}
