/* Styles for dropdown nav */

.dropdown-nav {
  @apply relative bg-white w-full md:w-72 rounded ml-auto md:mr-4 z-10;
}

.dropdown-menu {
  @apply hidden shadow-md bg-white absolute left-0 right-0 w-full;
  top: 105%;
  perspective: 1000px;
  z-index: -1;
}

.dropdown-menu__item {
  @apply font-headers transition duration-300 ease-in-out bg-white hover:bg-primary text-dark no-underline hover:text-white;
  position: relative;

  ul {
    li {
      @apply pl-5;
    }
  }
}
.dropdown-menu__link {
  @apply block text-sm py-2 px-4 no-underline hover:text-white;
}

.menu-toggle {
  @apply flex justify-between w-full h-full;
}
.menu-toggle svg {
  transition: all 0.35s;
}
.menu-toggle[aria-expanded='true'] svg {
  transform: rotate(-180deg);
}
