/* Styles for dropdown nav */

.dropdown-nav {
  @apply relative bg-white w-full md:w-72 rounded ml-auto md:mr-4 z-10;
}

.dropdown-menu {
  @apply hidden shadow-md bg-white absolute top-full right-0 w-full z-10;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  perspective: 1000px;
  z-index: -1;
}

.dropdown-menu__item {
  @apply font-headers transition duration-300 ease-in-out bg-white hover:bg-primary text-dark no-underline hover:text-white;
  position: relative;
}
.dropdown-menu__link {
  @apply block p-2 no-underline hover:text-white;
}

.menu-toggle {
  @apply flex justify-between w-full h-full;
}
.menu-toggle svg {
  transition: all 0.35s;
}
.menu-toggle[aria-expanded='true'] svg {
  transform: rotate(-180deg);
}
