:root {
  --swiper-theme-color: #ffffff;
}

.swiper {
  @apply w-full;
}

.swiper-slide {
  @apply w-full;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  @apply drop-shadow-lg;
  font-size: 2rem;
  font-weight: 800;
}
