.wg-default,
.wg-default .country-selector {
  position: fixed;
  bottom: 0;
  right: 1.25rem;
}

.wg-drop.country-selector,
.wg-drop.country-selector ul {
  background-color: var(--color-card-dark) !important;
}

.country-selector a {
  color: var(--color-white) !important;
}
