.shared-vision-grid {
  @apply max-w-6xl mx-auto;
}

.shared-vision-card {
  @apply grid items-center md:items-start mb-4 border border-light-blue p-4 bg-white;
  grid-template: "card-icon card-text" / auto 1fr;
}

.shared-vision-card__icon {
  @apply mr-4 mb-4 justify-self-center;
  grid-area: card-icon;
}
.shared-vision-card__text {
  @apply m-0;
  grid-area: card-text;
}

.shared-vision-card:nth-child(1) {
  grid-area: card-1;
}
.shared-vision-card:nth-child(2) {
  grid-area: card-2;
}
.shared-vision-card:nth-child(3) {
  grid-area: card-3;
}
.shared-vision-card:nth-child(4) {
  grid-area: card-4;
}
.shared-vision-card:nth-child(5) {
  grid-area: card-5;
}

.guiding-principles {
  display: grid;
  grid-template: "gp-side-1" "gp-side-2" 6.25rem / 1fr;
  @apply -mx-6 my-8;
}
.guiding-principles__text {
  @apply bg-magenta pl-6 pr-14 py-16;
  grid-area: gp-side-1;
}
.guiding-principles__image {
  @apply relative;
  grid-area: gp-side-2;
}

@screen md {
  .shared-vision-grid {
    display: grid;
    gap: 1.25rem;
    grid-template: "card-1 card-2" "card-3 card-4" "card-5" / 1fr 1fr;
  }
  .shared-vision-card {
    @apply text-center;
    display: grid;
    grid-template: "card-icon" auto "card-text" 1fr / 1fr;
  }
  .guiding-principles {
    @apply my-16;
    display: grid;
    grid-template: "gp-side-1 gp-side-2" / 1fr 1fr;
  }
}

@screen lg {
  .shared-vision-grid {
    display: grid;
    grid-template: "card-1 card-2 card-3 card-4 card-5" / 1fr 1fr 1fr 1fr 1fr;
  }
}
