.chapters-grid {
  @apply flex flex-wrap mt-6 ml-0 list-none;

  & .card {
    flex: 0 1 30%;
    min-height: 16.5rem;
  }

  & .card__content {
    display: block;
  }
}

@supports (display: grid) {
  .chapters-grid {
    @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4;

    & .card__content {
      display: grid;
    }
  }
}
