---
layout: news
permalink: news/index.html
---

{# news List #} {% set newsList = [] %} 
{% for news in collections.news %} 
{% set newsList = (newsList.push({title:
news.data.title, newsnum: news.data.newsnum, background:
news.data.backgroundImage, tags: news.data.tags, description:
news.templateContent, pdfdownload: news.data.pdfdownload, link:
news.data.link}), newsList) %} 
{% endfor %} 

<div class="max-w-6xl mx-auto">
  <h2>News</h2>
  <ol
    class="newss-grid"
  > 
    {% set i = 1 %} {% for news in newsList|sort(attribute='newsnum')
    %} {% if news.tags != appendix %}

    <li class="card">
      <div class="z-0 relative overflow-hidden group">
        <div
          class="card__overlay opacity-20"
          style="background-image:url({{news.background}});"
        ></div>
        <button class="card__content relative group show-hide__toggle" data-description>
          <span
            class="transition duration-300 ease-in-out text-dark group-hover:text-white text-7xl"
          >
            {% if news.newsnum %} {{ news.newsnum }} {% endif %}
          </span>
          <span class="font-bold text-2xl">
            {% if news.title %} {{ news.title }} {% endif %}
          </span>
          <span class="sr-only">View news description</span>
        </button>
        <div class="card__description show-hide__content group-hover:top-12">
          <button class="close-button show-hide__close">X<span class="sr-only">Close</span></button>
          <div class="pt-3 px-7 pb-7">{{news.description | safe}}</div>
        </div>
      </div>
      <div class="flex justify-between bg-dark px-4">
        {% if news.description %}
        <button class="p-3 group show-hide__toggle" data-description>
          <svg
            class="fill-dark group-hover:fill-white"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M14 17H4V19H14V17ZM20 9H4V11H20V9ZM4 15H20V13H4V15ZM4 5V7H20V5H4Z"
            />
          </svg>
          <span class="sr-only">View news description</span>
        </button>
        {% endif %} {% if news.pdfdownload %}
        <a href="{{news.pdfdownload}}" class="p-3 group" target="_blank">
          <svg
            class="fill-dark group-hover:fill-white"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M19 13V18C19 18.55 18.55 19 18 19H6C5.45 19 5 18.55 5 18V13C5 12.45 4.55 12 4 12C3.45 12 3 12.45 3 13V19C3 20.1 3.9 21 5 21H19C20.1 21 21 20.1 21 19V13C21 12.45 20.55 12 20 12C19.45 12 19 12.45 19 13ZM13 12.67L14.88 10.79C15.27 10.4 15.9 10.4 16.29 10.79C16.68 11.18 16.68 11.81 16.29 12.2L12.7 15.79C12.31 16.18 11.68 16.18 11.29 15.79L7.7 12.2C7.31 11.81 7.31 11.18 7.7 10.79C8.09 10.4 8.72 10.4 9.11 10.79L11 12.67V4C11 3.45 11.45 3 12 3C12.55 3 13 3.45 13 4V12.67Z"
            />
          </svg>
           <span class="sr-only">Download PDF (Opens in a new window)</span>
        </a>
        {% endif %} {% if news.link %}
        <a href="{{news.link}}" class="p-3">
          <svg
            class="fill-dark hover:fill-white"
            width="25"
            height="24"
            viewBox="0 0 25 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M18.6666 19H6.66663C6.11663 19 5.66663 18.55 5.66663 18V6C5.66663 5.45 6.11663 5 6.66663 5H11.6666C12.2166 5 12.6666 4.55 12.6666 4C12.6666 3.45 12.2166 3 11.6666 3H5.66663C4.55663 3 3.66663 3.9 3.66663 5V19C3.66663 20.1 4.56663 21 5.66663 21H19.6666C20.7666 21 21.6666 20.1 21.6666 19V13C21.6666 12.45 21.2166 12 20.6666 12C20.1166 12 19.6666 12.45 19.6666 13V18C19.6666 18.55 19.2166 19 18.6666 19ZM14.6666 4C14.6666 4.55 15.1166 5 15.6666 5H18.2566L9.12663 14.13C8.73663 14.52 8.73663 15.15 9.12663 15.54C9.51663 15.93 10.1466 15.93 10.5366 15.54L19.6666 6.41V9C19.6666 9.55 20.1166 10 20.6666 10C21.2166 10 21.6666 9.55 21.6666 9V4C21.6666 3.45 21.2166 3 20.6666 3H15.6666C15.1166 3 14.6666 3.45 14.6666 4Z"
            />
          </svg>
        </a>
        {% endif %}
      </div>
    </li>
    {% endif %} {% set i = i + 1 %} {% endfor %}
  </ol>

  <h2>Appendices</h2>
  <ul class="newss-grid">
    {% set i = 1 %} {% for appendix in appendixList|sort(attribute='newsnum')
    %} {% if appendix.tags !== news %}
    <li class="card">
      <div class="z-0 relative overflow-hidden">
        <div
          class="card__overlay  opacity-20 "
          style="background-image:url({{appendix.background}});"
        ></div>
        <button class="card__content relative show-hide__toggle" data-description>
          <span
            class="transition duration-300 ease-in-out text-dark group-hover:text-white text-7xl"
          >
            {% if appendix.newsnum %} {{ appendix.newsnum }} {% endif %}
          </span>
          <span class="font-bold text-2xl">
            {% if appendix.title %} {{ appendix.title }} {% endif %}
          </span>
          <span class="sr-only">View appendix description</span>
        </button>
        <div class="card__description show-hide__content group-hover:top-12">
          <button class="close-button show-hide__close">X<span class="sr-only">Close</span></button>
          <div class="pt-3 px-7 pb-7">{{appendix.description | safe}}</div>
        </div>
      </div>
      <div class="flex justify-between bg-dark px-4 z-20">
        {% if appendix.description %}
        <button class="p-3 group show-hide__toggle" data-description>
          <svg
            class="fill-dark group-hover:fill-white"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M14 17H4V19H14V17ZM20 9H4V11H20V9ZM4 15H20V13H4V15ZM4 5V7H20V5H4Z"
            />
          </svg>
          <span class="sr-only">View appendix description</span>
        </button>
        {% endif %} {% if appendix.pdfdownload %}
        <a href="{{appendix.pdfdownload}}" class="p-3 group" target="_blank">
          <svg
            class="fill-dark group-hover:fill-white"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M19 13V18C19 18.55 18.55 19 18 19H6C5.45 19 5 18.55 5 18V13C5 12.45 4.55 12 4 12C3.45 12 3 12.45 3 13V19C3 20.1 3.9 21 5 21H19C20.1 21 21 20.1 21 19V13C21 12.45 20.55 12 20 12C19.45 12 19 12.45 19 13ZM13 12.67L14.88 10.79C15.27 10.4 15.9 10.4 16.29 10.79C16.68 11.18 16.68 11.81 16.29 12.2L12.7 15.79C12.31 16.18 11.68 16.18 11.29 15.79L7.7 12.2C7.31 11.81 7.31 11.18 7.7 10.79C8.09 10.4 8.72 10.4 9.11 10.79L11 12.67V4C11 3.45 11.45 3 12 3C12.55 3 13 3.45 13 4V12.67Z"
            />
          </svg>
           <span class="sr-only">Download PDF (Opens in a new window)</span>
        </a>
        {% endif %} {% if appendix.link %}
        <a href="{{appendix.link}}" class="p-3">
          <svg
            class="fill-dark group-hover:fill-white"
            width="25"
            height="24"
            viewBox="0 0 25 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M18.6666 19H6.66663C6.11663 19 5.66663 18.55 5.66663 18V6C5.66663 5.45 6.11663 5 6.66663 5H11.6666C12.2166 5 12.6666 4.55 12.6666 4C12.6666 3.45 12.2166 3 11.6666 3H5.66663C4.55663 3 3.66663 3.9 3.66663 5V19C3.66663 20.1 4.56663 21 5.66663 21H19.6666C20.7666 21 21.6666 20.1 21.6666 19V13C21.6666 12.45 21.2166 12 20.6666 12C20.1166 12 19.6666 12.45 19.6666 13V18C19.6666 18.55 19.2166 19 18.6666 19ZM14.6666 4C14.6666 4.55 15.1166 5 15.6666 5H18.2566L9.12663 14.13C8.73663 14.52 8.73663 15.15 9.12663 15.54C9.51663 15.93 10.1466 15.93 10.5366 15.54L19.6666 6.41V9C19.6666 9.55 20.1166 10 20.6666 10C21.2166 10 21.6666 9.55 21.6666 9V4C21.6666 3.45 21.2166 3 20.6666 3H15.6666C15.1166 3 14.6666 3.45 14.6666 4Z"
            />
          </svg>
        </a>
        {% endif %}
      </div>
    </li>
    {% endif %} {% set i = i + 1 %} {% endfor %}
  </ul>
</div>
