:root {
  --color-primary: #a35d48;
  --color-primary-dark: #915340;
  --color-secondary: #36602e;
  --color-accent: #1b4f7d;
  --color-accent-light: #1261a7;
  --color-text: #222223;
  --color-links: #1b4f7d;
  --color-gold: #d99d57;
  --color-gray: #6e6e71;
  --color-light-gray: #e2e2e2;
  --color-dark-gray: #555358;
  --color-error: #b81717;
  --color-white: #ffffff;
  --color-black: #000000;
}

html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

[data-whatintent='mouse'] *:focus {
  outline: none;
}

[hidden] {
  display: none !important;
}

main ul,
main ol,
.basic-list {
  @apply ml-7 mt-5 mb-6 p-0;
}
main ul li,
.basic-list li {
  @apply m-0 mb-2 ml-2 relative list-disc;
}
main ol li {
  @apply m-0 mb-4 ml-2 relative;
}
main ol li::marker {
  @apply font-bold;
}
main ul li > ul,
.basic-list li > ul {
  @apply mt-2.5 mr-0 mb-2 ml-6;
}
main ul li > ul > li,
.basic-list li > ul > li {
  @apply list-disc;
}
main ol {
  @apply list-decimal;
}

.two-column {
  columns: 2;
}

.image-right {
  float: right;
  margin-bottom: 0.9375rem;
  margin-left: 0.9375rem;
}
.image-left {
  float: left;
  margin-bottom: 0.9375rem;
  margin-right: 0.9375rem;
}
