:root {
  --color-primary: #457b9d;
  --color-primary-light: #457b9d4f;
  --color-primary-dark: #306485;
  --color-secondary: #1d3557;
  --color-accent: #e63946;
  --color-accent-light: #ffafb6;
  --color-text: #222222;
  --color-links: #1d3557;
  --color-ocean: #a8dadc;
  --color-orange: #ee7a0d;
  --color-yellow: #e5d60b;
  --color-green: #14cf1d;
  --color-gray: #9c9c9c;
  --color-light-gray: #e2e2e2;
  --color-dark-gray: #555358;
  --color-error: #e50b0b;
  --color-white: #f1faee;
  --color-real-white: #ffffff;
  --color-black: #000000;
}

html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

[data-whatintent='mouse'] *:focus {
  outline: none;
}

[hidden] {
  display: none !important;
}

main ul,
main ol,
.basic-list {
  @apply ml-7 mt-5 mb-6 p-0;
}
main ul li,
.basic-list li {
  @apply m-0 mb-2 ml-2 relative list-disc;
}
main ol li {
  @apply m-0 mb-4 ml-2 relative;
}
main ol li::marker {
  @apply font-bold;
}
main ul li > ul,
.basic-list li > ul {
  @apply mt-2.5 mr-0 mb-2 ml-6;
}
main ul li > ul > li,
.basic-list li > ul > li {
  @apply list-disc;
}
main ol {
  @apply list-decimal;
}

.two-column {
  columns: 2;
}

.image-right {
  float: right;
  margin-bottom: 0.9375rem;
  margin-left: 0.9375rem;
}
.image-left {
  float: left;
  margin-bottom: 0.9375rem;
  margin-right: 0.9375rem;
}

.print-only {
  display: none;
}

@media print {
  body * {
    visibility: hidden;
    height: 0;
  }
  .print-area,
  .print-area * {
    visibility: visible;
    height: auto;
  }
  @page {
    margin: 0.1cm 0.5cm 1cm;
    font-size: 12pt !important;
    background-color: transparent !important;
    background-image: none !important;
  }

  body {
    zoom: 80%;
    background-color: transparent !important;
    background-image: none !important;
  }

  .print-break {
    page-break-before: always;
    page-break-after: auto;
  }

  .print-only {
    display: block;
  }
  .no-print {
    display: none;
    visibility: hidden;
    height: 0;
  }
}
