<footer class="bottom-0 max-w-full">
  {% if path !== 'home' %}
  <div class="bg-magenta py-8 px-16">
    <div class="max-w-md mx-auto text-white text-lg text-center">
      <p>
       More than 300 million tons of domestic freight moves into, out of, and within the NYMTC planning area by truck, rail, water, air, and pipeline annually.
      </p>
      <a href="/comment-on-the-plan" class="button mx-auto mt-7">Comment on the Plan</a>
    </div>
  </div>
  {% endif %}
  <div class="bg-footer-gray text-center py-6 px-8">
    <small class="text-gray-500"
      > &copy; <span id="year"></span>
      <a href="{{settings.url}}" rel="noopener" target="_blank"  class="text-off-black underline"
        >{{settings.name}} <span class="sr-only">(Open in a new window)</span></a
      >
    </small>
  </div>
</footer>
<script>
    document.getElementById("year").innerHTML = new Date().getFullYear();
</script>
<footer class="bottom-0 max-w-full py-10 px-8 text-center">
  <ul class="flex justify-center">
    <li class="mx-3">
      <a href="#"><img src="/images/icon_facebook.svg" alt="" /></a>
    </li>
    <li class="mx-3">
      <a href="#"><img src="/images/icon_twitter.svg" alt="" /></a>
    </li>
    <li class="mx-3">
      <a href="#"><img src="/images/icon_youtube.svg" alt="" /></a>
    </li>
  </ul>
  <a href="http://www.michigan.gov/mdot/" class="inline-block" target="_blank">
    <img
      src="/images/MDOT_footer_logo.png"
      alt="Michigan Department of Transportation"
    />
    <span class="sr-only">(Opens in a new window)</span>
  </a>
  <p class="text-white text-xs mb-0 mt-8">
    Revive 275 is not an official website of the Michigan Department of
    Transportation
  </p>
</footer>

