<header class="main-header {% if settings.headercolor %}{{settings.headercolor}}{% endif %}">
  {# Logo #}
  <div class="relative logo">
    <a href="{{settings.logourl}}" class="site-name">
      {% if settings.logo %}
        <img class="" src="{{settings.logo}}" alt="{{settings.alttext}}"/>
      {% else %}
        {{settings.name}}
      {% endif %}
    </a>
  </div>
  <div class="menu-toggle-fullscreen {% if navigation.dropdownnav == true %}hidden{% endif %} {% if navigation.horizontalnav == true %}md:hidden{% endif %}">
    <button
    class="nav-mobile__toggle hamburger hamburger--spin"
    aria-controls="mainNav"
    aria-label="Site Menu"
    id="mobileNavToggle">
      <span class="nav-mobile__toggle-text sr-only">Menu</span>
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </div>
  {% if navigation.fullscreennav == true %}
    {# Hamburger Menu #}
    {# Fullscreen Nav #}
    <div id="mainNav" class="nav-container--fullscreen" data-nav="fullscreen">
      <!--Menu-->
      <nav class="main-nav">
        {% if navigation.items %}
          <ol class="main-nav__menu">
            {% for item in navigation.items %}
              <li class="main-nav__item">
                <a class="main-nav__link" href="{{ item.url }}">{{ item.text }}</a>
              </li>
            {% endfor %}
          </ol>
        {% endif %}
      </nav>
    </div>
    {# End Fullscreen Nav #}
  {% endif %}
  {# Dropdown Nav #}
  {% if navigation.dropdownnav == true %}
    <div class="dropdown-nav" data-nav="dropdown">
      <div class="h-12">
        <!--Toggle button -->
        <button aria-expanded="false" class="menu-toggle" aria-label="Menu">
          <span class="self-center flex ml-4 font-headers">
            Site Menu
          </span>
          <span class="flex items-center bg-light-dark px-2 self-stretch rounded-br rounded-tr w-12 place-self-end">
            <svg
          class="fill-current h-4 w-4 mx-auto transition transform"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20">
              <path
            d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path>
            </svg>
          </span>
        </button>
        <nav>
          <!--Menu-->
          <div class="dropdown-menu main-nav" hidden>
            {{ collections.all | eleventyNavigation("Home") | eleventyNavigationToHtml({ listItemClass: "dropdown-menu__item", anchorClass: "dropdown-menu__link"}) | safe }}
          </div>
        </nav>
      </div>
    </div>
    {# End dropdown nav #}
  {% endif %}
  {# Horizontal Nav #}
  {% if navigation.horizontalnav == true %}
    <nav id="mainNav" class="nav-container--horiz" data-nav="horizontal">
      {{ collections.all | eleventyNavigation("Home") | eleventyNavigationToHtml({listClass: "main-nav", listItemClass: "main-nav__item", anchorClass: "sub-nav__link"}) | safe }}
    </nav>
  {% endif %}
  {% if path != "home" and navigation.breadcrumbs == true %}
    {% set breadcrumbs = collections.all | eleventyNavigationBreadcrumb("Home")%}
    {# Breadcrumbs #}
    <nav aria-label="site breadcrumbs">
      <ul class="breadcrumbs">
        <li>
          <span class="sr-only">You are here:</span>
          <a class="text-links hover:underline" href="/">Home</a>
          <span class="mx-3">></span>
        </li>
        <li>{{ elventyNavigation.key or title }}</li>
      </ul>
    </nav>
    {# End Breadcrumbs #}
  {% endif %}
</header>
